
<Br>
<form class="form-horizontal" style="margin-left: 20px">
  <div class="form-group">
      <label for="inputUserName" class="control-label col-sm-2">Username</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Login Username"
                  type="text" id="inputUserName" />
      </div>
  </div>
  <div class="form-group">
      <label for="inputPassword" class="control-label col-sm-2">Password</label>
      <div class="col-sm-6">
          <input class="form-control" placeholder="Login Password"
                  type="password" id="inputPassword" />
      </div>
  </div>
  
  <div class="radio">
    <label><input type="radio" name="optradio">Admin</label>
  </div>
  <div class="radio">
    <label><input type="radio" name="optradio">Company</label>
  </div>
  <div class="radio disabled">
    <label><input type="radio" name="optradio" disabled>Customer</label>
  </div>

  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <p>    <button class="btn btn-primary btn-lg"> Login  <span class="glyphicon glyphicon-ok-sign"></span></button>
        </div>
  </div>
</form>
